body {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', AppleGothic, sans-serif;
    font-size:20px;
    color: #444;
  }
  
  strong {
    font-weight:600;
    
  }
  
  #bgCanvas {
    position: absolute;
    top:0px;
    left:0px;
    z-index: -2;
  }
  
  #container {
      height: 100%;
      width: 100%;
  }
  
  #logo {
    width: 200px;
    height: 60px;
    /*background-image: url(images/logo.png);*/
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: -70px;
    
    
  }
  
  /* body links  */
  
  a:link, a:visited {
      color: #2D7BB6;
      text-decoration: none;
  }
  
  a:active, a:hover, #reference a:hover {
      color:#ED225D;
      text-decoration: none;
      padding-bottom: 0.11em;
      border-bottom: 0.11em dashed;
      border-bottom-color: #ED225D;
      transition: border-bottom 30ms linear;
  }
  
  #navMenu, #navMenu a {
  font-size:23px; 
  color: #ED225D;
  }
  
  a.anchor {
      color: #222 !important;
      outline: none;
  }
  
  a.anchor:hover {
      color:#ED225D !important;
  }
  
  a.nounderline:hover {
      border: none;
  }
  html, body { 
      background-color: rgba(0,0,0,0);
      color: white;
  }

  h1, h2, h3 {
      font-weight: normal;

    font-family: 'Futura', AppleGothic, sans-serif;
  }

  h1 {
      font-size: 48pt;
      padding-top: 0;
      margin-top: 0;
  }

.slide {position:absolute; display:none;}
.current {display:block;}

.left-side {
    width: 800px;
    background-color:rgba(0,0,0,0.85);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    padding: 2em;
    padding-top: 0;
    color:white;
    height: 100%;
    font-size: 24pt;
    
    z-index: 100;
    top: 0;
    left: 2em;
}

.right-side {
    width: 800px;
    background-color:rgba(0,0,0,0.85);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    padding: 2em;
    padding-top: 0;
    color:white;
    height: 100%;
    font-size: 24pt;
    
    z-index: 100;
    top: 0;
    right: 2em;
}
.fullscreen {
    position: fixed; 
    width: -webkit-calc(100% - 2em); 
    height: -webkit-calc(100% - 2em); 
    width: calc(100% - 2em); 
    height: calc(100% - 2em); 
    z-index: 100; 
    left: 0; 
    top: 0; 
    margin: 1em;
}
.translucent {
    background-color:rgba(0,0,0,0.85);
}