body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    color: #444;
  }
  
  strong {
    font-weight:600;
    
  }
  
  #bgCanvas {
    position: absolute;
    top:0px;
    left:0px;
    z-index: -2;
  }
  
  #container {
    width: 800px;
    background-color:rgba(0,0,0,0.85);
    position: absolute;
    padding: 2em;
    padding-top: 0;
    color:white;
    right: 2em;
    -webkit-backdrop-filter: blur(5px);
    height: 100%;
    font-size: 24pt;
  }
  
  #logo {
    width: 200px;
    height: 60px;
    /*background-image: url(images/logo.png);*/
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: -70px;
    
    
  }
  
  /* body links  */
  
  a:link, a:visited {
      color: #2D7BB6;
      text-decoration: none;
  }
  
  a:active, a:hover, #reference a:hover {
      color:#ED225D;
      text-decoration: none;
      padding-bottom: 0.11em;
      border-bottom: 0.11em dashed;
      border-bottom-color: #ED225D;
      transition: border-bottom 30ms linear;
  }
  
  #navMenu, #navMenu a {
  font-size:23px; 
  color: #ED225D;
  }
  
  a.anchor {
      color: #222 !important;
      outline: none;
  }
  
  a.anchor:hover {
      color:#ED225D !important;
  }
  
  a.nounderline:hover {
      border: none;
  }

  @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
  @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
  @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

  html, body { 
      background-color: rgba(0,0,0,0);
      color: white;
  }

  h1, h2, h3 {
      font-family: 'Yanone Kaffeesatz';
      font-weight: normal;
  }

  h1 {
      font-size: 48pt;
      padding-top: 0;
      margin-top: 0;
  }